<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Serviços - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="js/servicos.js" defer></script>
</head>

<body class="bg-gray-900 text-white font-sans">

    <!-- Navbar -->
    <header class="bg-gray-800 text-yellow-400 py-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="#" class="text-2xl font-bold">Gestão de Serviços</a>
            <a th:href="@{/servicos/nova}" class="bg-yellow-500 text-black py-2 px-6 rounded-md">Criar Novo Serviço</a>
        </div>
    </header>

    <!-- Lista de Serviços -->
    <section class="container mx-auto py-12">
        <h2 class="text-3xl font-bold text-yellow-400 mb-8 text-center">Serviços Disponíveis</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
            <!-- Iterando sobre a lista de serviços -->
            <div th:each="servico : ${servicos_lista}"
                class="card bg-gray-700 rounded-lg overflow-hidden shadow-lg flex flex-col">
                <img th:src="${servico.urlImagem}" alt="Serviço" class="w-full h-48 object-cover">
                <div class="p-6 flex flex-col flex-grow">
                    <h5 th:text="${servico.titulo}" class="text-xl font-bold text-white"></h5>
                    <p th:text="${servico.descricao}" class="text-sm text-gray-400 flex-grow"></p>
                    <div class="mt-4 flex justify-between items-center">
                        <p th:text="'Preço: R$ ' + ${servico.preco}" class="text-sm text-white"></p>
                        <p th:text="'Duração: ' + ${servico.tempoDuracao}" class="text-sm text-white"></p>
                    </div>
                    <div class="mt-4 flex justify-between items-center">
                        <button th:onclick="'editServico(' + ${servico.id} + ')'"
                            class="btn bg-yellow-500 text-black px-4 py-2 rounded">Editar</button>
                        <button th:onclick="'deleteServico(' + ${servico.id} + ')'"
                            class="btn bg-red-500 text-white px-4 py-2 rounded">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>