<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada - 404</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white font-sans flex flex-col items-center justify-center min-h-screen">

    <!-- Bloco principal -->
    <div class="text-center">
        <h1 class="text-6xl font-bold text-red-500 mb-4">404</h1>
        <p class="text-2xl text-white mb-6">Ops, parece que você está perdido!</p>
        <p class="text-lg text-gray-400 mb-8">A página que você está procurando não foi encontrada.</p>
        
        <!-- Botão de Redirecionamento -->
        <a href="/login" class="px-8 py-3 bg-yellow-400 text-black font-bold text-lg rounded-lg hover:bg-yellow-500 transition duration-300">Voltar para a Página Inicial</a>
    </div>
</body>

</html>